# Task 6.3: Geographical Visualisations

## This script contains:
1. Import libraries and data
2. Data wrangling
3. Data cleaning
4. Plotting a choropleth

# 1. Import Data and Libraries

## Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import os
import folium
import json

## Data

In [2]:
# Create path
path = r'C:\Users\M de Villiers\Desktop\Data Analytics\Achievement 6'

In [3]:
df=pd.read_csv(os.path.join(path, '02_Data', 'Prepared_Data', 'monthly_COVID-19_vaccinations.csv'), index_col=False)

In [4]:
df.head()

,country,iso_code,month_year,vaccines,total_vaccinations,people_vaccinated,people_fully_vaccinated,monthly_vaccinations_raw,monthly_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,monthly_vaccinations_per_million
0,Afghanistan,AFG,2021-02,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",8200.0,8200.0,0.0,0.0,8202.0,0.02,0.02,0.00,204.0
1,Afghanistan,AFG,2021-03,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",54000.0,54000.0,0.0,0.0,85894.0,0.14,0.14,0.00,2154.0
2,Afghanistan,AFG,2021-04,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",240000.0,240000.0,0.0,0.0,219606.0,0.60,0.60,0.00,5511.0
3,Afghanistan,AFG,2021-05,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",600152.0,480226.0,119926.0,2859.0,285838.0,1.51,1.21,0.30,7171.0
4,Afghanistan,AFG,2021-06,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",886854.0,699200.0,187654.0,4015.0,242899.0,2.23,1.76,0.47,6097.0

In [5]:
df.tail()

,country,iso_code,month_year,vaccines,total_vaccinations,people_vaccinated,people_fully_vaccinated,monthly_vaccinations_raw,monthly_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,monthly_vaccinations_per_million
2961,Zimbabwe,ZWE,2021-11,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",6611942.0,3795401.0,2816541.0,618042.0,679619.0,43.81,25.15,18.66,45028.0
2962,Zimbabwe,ZWE,2021-12,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",7264791.0,4124378.0,3135168.0,626997.0,679454.0,48.14,27.33,20.77,45019.0
2963,Zimbabwe,ZWE,2022-01,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",7632514.0,4270759.0,3299624.0,367723.0,375550.0,50.57,28.30,21.86,24882.0
2964,Zimbabwe,ZWE,2022-02,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",7890951.0,4362150.0,3396655.0,258437.0,258018.0,52.29,28.90,22.51,17096.0
2965,Zimbabwe,ZWE,2022-03,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",7943325.0,4379875.0,3412556.0,52374.0,59815.0,52.63,29.02,22.61,3963.0

In [6]:
df2=pd.read_csv(os.path.join(path, '02_Data', 'Original_Data', 'owid-covid-data (1).csv'), index_col=False)

In [7]:
df2.head()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,population
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,39835428.0
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,39835428.0
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,39835428.0
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,39835428.0
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,39835428.0

In [8]:
df2.dtypes

iso_code         object
continent        object
location         object
date             object
total_cases     float64
new_cases       float64
total_deaths    float64
new_deaths      float64
population      float64
dtype: object

In [9]:
df2['date'] = df2['date'].astype('datetime64[ns]')

In [10]:
df2.head()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,population
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,39835428.0
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,39835428.0
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,39835428.0
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,39835428.0
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,39835428.0

In [11]:
# Extracting month and year from date to group by month and date for time series
df2['month_year'] = pd.to_datetime(df2['date']).dt.to_period('M')

In [12]:
df2.head()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,population,month_year
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,39835428.0,2020-02
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,39835428.0,2020-02
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,39835428.0,2020-02
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,39835428.0,2020-02
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,39835428.0,2020-02

In [13]:
df2.tail()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,population,month_year
172794,ZWE,Africa,Zimbabwe,2022-03-25,245645.0,451.0,5436.0,4.0,15092171.0,2022-03
172795,ZWE,Africa,Zimbabwe,2022-03-26,245645.0,0.0,5436.0,0.0,15092171.0,2022-03
172796,ZWE,Africa,Zimbabwe,2022-03-27,245820.0,175.0,5438.0,2.0,15092171.0,2022-03
172797,ZWE,Africa,Zimbabwe,2022-03-28,245927.0,107.0,5438.0,0.0,15092171.0,2022-03
172798,ZWE,Africa,Zimbabwe,2022-03-29,246042.0,115.0,5439.0,1.0,15092171.0,2022-03

In [14]:
df2.dtypes

iso_code                object
continent               object
location                object
date            datetime64[ns]
total_cases            float64
new_cases              float64
total_deaths           float64
new_deaths             float64
population             float64
month_year           period[M]
dtype: object

In [15]:
# Create new df with aggregated values by month adn year
df2 = df2.groupby(['location', 'continent', 'iso_code', 'month_year', 'population'], as_index=False).agg(new_cases = ('new_cases', 'sum'), total_cases = ('total_cases', 'max'), new_deaths = ('new_deaths', 'sum'), total_deaths = ('total_deaths', 'max'))

In [16]:
df2.head()

,location,continent,iso_code,month_year,population,new_cases,total_cases,new_deaths,total_deaths
0,Afghanistan,Asia,AFG,2020-02,39835428.0,5.0,5.0,0.0,NaN
1,Afghanistan,Asia,AFG,2020-03,39835428.0,163.0,166.0,4.0,4.0
2,Afghanistan,Asia,AFG,2020-04,39835428.0,1661.0,1827.0,56.0,60.0
3,Afghanistan,Asia,AFG,2020-05,39835428.0,13353.0,15180.0,194.0,254.0
4,Afghanistan,Asia,AFG,2020-06,39835428.0,16265.0,31445.0,485.0,739.0

In [17]:
df2.rename(columns = {'location' : 'country'}, inplace = True)

In [18]:
df2['month_year'] = df2['month_year'].astype('str')

In [19]:
df['month_year'] = df['month_year'].astype('str')

In [20]:
new_df = df.merge(df2, on = ['country', 'iso_code', 'month_year'], how = 'outer', sort=False)

In [21]:
new_df.head(20)

,country,iso_code,month_year,vaccines,total_vaccinations,people_vaccinated,people_fully_vaccinated,monthly_vaccinations_raw,monthly_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,monthly_vaccinations_per_million,continent,population,new_cases,total_cases,new_deaths,total_deaths
0,Afghanistan,AFG,2021-02,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",8200.0,8200.0,0.0,0.0,8202.0,0.02,0.02,0.00,204.0,Asia,39835428.0,691.0,55714.0,43.0,2443.0
1,Afghanistan,AFG,2021-03,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",54000.0,54000.0,0.0,0.0,85894.0,0.14,0.14,0.00,2154.0,Asia,39835428.0,740.0,56454.0,41.0,2484.0
2,Afghanistan,AFG,2021-04,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",240000.0,240000.0,0.0,0.0,219606.0,0.60,0.60,0.00,5511.0,Asia,39835428.0,3291.0,59745.0,141.0,2625.0
3,Afghanistan,AFG,2021-05,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",600152.0,480226.0,119926.0,2859.0,285838.0,1.51,1.21,0.30,7171.0,Asia,39835428.0,12093.0,71838.0,319.0,2944.0
4,Afghanistan,AFG,2021-06,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",886854.0,699200.0,187654.0,4015.0,242899.0,2.23,1.76,0.47,6097.0,Asia,39835428.0,46821.0,118659.0,1927.0,4871.0
5,Afghanistan,AFG,2021-07,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",1171064.0,742934.0,219159.0,0.0,337196.0,2.94,1.87,0.55,8466.0,Asia,39835428.0,28495.0,147154.0,1837.0,6708.0
6,Afghanistan,AFG,2021-08,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",1979652.0,773002.0,430744.0,0.0,591825.0,4.97,1.94,1.08,14854.0,Asia,39835428.0,6066.0,153220.0,410.0,7118.0
7,Afghanistan,AFG,2021-09,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",2369625.0,828601.0,0.0,0.0,563255.0,5.95,2.08,0.00,14132.0,Asia,39835428.0,1954.0,155174.0,86.0,7204.0
8,Afghanistan,AFG,2021-10,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",0.0,0.0,0.0,0.0,1064777.0,0.00,0.00,0.00,26738.0,Asia,39835428.0,1076.0,156250.0,76.0,7280.0
9,Afghanistan,AFG,2021-11,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",4018197.0,3530173.0,3188609.0,0.0,821215.0,10.09,8.86,8.00,20618.0,Asia,39835428.0,1039.0,157289.0,28.0,7308.0
10,Afghanistan,AFG,2021-12,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",4674518.0,4142857.0,3753224.0,0.0,476498.0,11.73,10.40,9.42,11958.0,Asia,39835428.0,795.0,158084.0,48.0,7356.0
11,Afghanistan,AFG,2022-01,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",5125146.0,4554648.0,3892831.0,6868.0,399710.0,12.87,11.43,9.77,10038.0,Asia,39835428.0,4848.0,162926.0,58.0,7414.0
12,Afghanistan,AFG,2022-02,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",5535254.0,4907058.0,4231984.0,0.0,406044.0,13.90,12.32,10.62,10195.0,Asia,39835428.0,10733.0,173659.0,184.0,7598.0
13,Afghanistan,AFG,2022-03,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",5597130.0,4952744.0,4281934.0,0.0,71731.0,14.05,12.43,10.75,1800.0,Asia,39835428.0,3999.0,177658.0,67.0,7665.0
14,Albania,ALB,2021-01,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...",549.0,549.0,0.0,421.0,741.0,0.02,0.02,0.00,257.0,Europe,2872934.0,19811.0,78127.0,199.0,1380.0
15,Albania,ALB,2021-02,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...",10135.0,6073.0,655.0,2476.0,9504.0,0.35,0.21,0.02,3305.0,Europe,2872934.0,29040.0,107167.0,416.0,1796.0
16,Albania,ALB,2021-03,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...",138846.0,0.0,0.0,49296.0,78590.0,4.83,0.00,0.00,27354.0,Europe,2872934.0,17990.0,125157.0,439.0,2235.0
17,Albania,ALB,2021-04,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...",476903.0,0.0,0.0,295509.0,339023.0,16.60,0.00,0.00,118004.0,Europe,2872934.0,5928.0,131085.0,159.0,2394.0
18,Albania,ALB,2021-05,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...",776461.0,486128.0,290333.0,204550.0,333048.0,27.03,16.92,10.11,115927.0,Europe,2872934.0,1230.0,132315.0,57.0,2451.0
19,Albania,ALB,2021-06,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...",968034.0,564530.0,403504.0,134454.0,180622.0,33.69,19.65,14.05,62871.0,Europe,2872934.0,206.0,132521.0,5.0,2456.0

In [22]:
new_df.tail(20)

,country,iso_code,month_year,vaccines,total_vaccinations,people_vaccinated,people_fully_vaccinated,monthly_vaccinations_raw,monthly_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,monthly_vaccinations_per_million,continent,population,new_cases,total_cases,new_deaths,total_deaths
5519,Zambia,ZMB,2020-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,18920657.0,4369.0,5963.0,127.0,151.0
5520,Zambia,ZMB,2020-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,18920657.0,6134.0,12097.0,137.0,288.0
5521,Zambia,ZMB,2020-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,18920657.0,2662.0,14759.0,44.0,332.0
5522,Zambia,ZMB,2020-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,18920657.0,1673.0,16432.0,17.0,349.0
5523,Zambia,ZMB,2020-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,18920657.0,1215.0,17647.0,8.0,357.0
5524,Zambia,ZMB,2020-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,18920657.0,3078.0,20725.0,31.0,388.0
5525,Zambia,ZMB,2021-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,18920657.0,33492.0,54217.0,375.0,763.0
5526,Zambia,ZMB,2021-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,18920657.0,24317.0,78534.0,328.0,1091.0
5527,Zambia,ZMB,2021-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,18920657.0,9884.0,88418.0,117.0,1208.0
5528,Zimbabwe,ZWE,2020-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,15092171.0,8.0,8.0,1.0,1.0
5529,Zimbabwe,ZWE,2020-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,15092171.0,32.0,40.0,3.0,4.0
5530,Zimbabwe,ZWE,2020-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,15092171.0,144.0,178.0,0.0,4.0
5531,Zimbabwe,ZWE,2020-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,15092171.0,413.0,591.0,3.0,7.0
5532,Zimbabwe,ZWE,2020-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,15092171.0,2578.0,3169.0,60.0,67.0
5533,Zimbabwe,ZWE,2020-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,15092171.0,3328.0,6497.0,135.0,202.0
5534,Zimbabwe,ZWE,2020-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,15092171.0,1341.0,7838.0,26.0,228.0
5535,Zimbabwe,ZWE,2020-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,15092171.0,529.0,8367.0,15.0,243.0
5536,Zimbabwe,ZWE,2020-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,15092171.0,1583.0,9950.0,33.0,276.0
5537,Zimbabwe,ZWE,2020-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,15092171.0,3917.0,13867.0,87.0,363.0
5538,Zimbabwe,ZWE,2021-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,15092171.0,19521.0,33388.0,854.0,1217.0

In [23]:
new_df.isnull().sum()

country                                   0
iso_code                                  0
month_year                                0
vaccines                               2573
total_vaccinations                     2573
people_vaccinated                      2573
people_fully_vaccinated                2573
monthly_vaccinations_raw               2573
monthly_vaccinations                   2573
total_vaccinations_per_hundred         2573
people_vaccinated_per_hundred          2573
people_fully_vaccinated_per_hundred    2573
monthly_vaccinations_per_million       2573
continent                                71
population                               71
new_cases                                71
total_cases                             205
new_deaths                               71
total_deaths                            796
dtype: int64

In [24]:
# create df of missing values
df_nan = new_df[new_df['continent'].isnull() == True]

In [25]:
df_nan

,country,iso_code,month_year,vaccines,total_vaccinations,people_vaccinated,people_fully_vaccinated,monthly_vaccinations_raw,monthly_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,monthly_vaccinations_per_million,continent,population,new_cases,total_cases,new_deaths,total_deaths
811,England,OWID_ENG,2021-01,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",8543262.0,8082355.0,460907.0,6209498.0,5600174.0,15.11,14.29,0.82,99030.0,NaN,NaN,NaN,NaN,NaN,NaN
812,England,OWID_ENG,2021-02,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",17812739.0,17212804.0,599935.0,9269477.0,9377418.0,31.50,30.44,1.06,165826.0,NaN,NaN,NaN,NaN,NaN,NaN
813,England,OWID_ENG,2021-03,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",29973324.0,26454219.0,3519105.0,12160585.0,11861175.0,53.00,46.78,6.22,209749.0,NaN,NaN,NaN,NaN,NaN,NaN
814,England,OWID_ENG,2021-04,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",41277728.0,28771540.0,12506188.0,11304404.0,11288945.0,72.99,50.88,22.12,199627.0,NaN,NaN,NaN,NaN,NaN,NaN
815,England,OWID_ENG,2021-05,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",54883579.0,33009444.0,21874135.0,13605851.0,13772946.0,97.05,58.37,38.68,243555.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2912,Wales,OWID_WLS,2021-11,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",5634787.0,2469217.0,2265776.0,490543.0,480061.0,177.75,77.89,71.48,151438.0,NaN,NaN,NaN,NaN,NaN,NaN
2913,Wales,OWID_WLS,2021-12,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",6483034.0,2490591.0,2303258.0,848247.0,821105.0,204.51,78.57,72.66,259026.0,NaN,NaN,NaN,NaN,NaN,NaN
2914,Wales,OWID_WLS,2022-01,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",6768192.0,2510933.0,2368368.0,285158.0,350575.0,213.51,79.21,74.71,110593.0,NaN,NaN,NaN,NaN,NaN,NaN
2915,Wales,OWID_WLS,2022-02,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",6870780.0,2520766.0,2386176.0,102588.0,109816.0,216.74,79.52,75.27,34642.0,NaN,NaN,NaN,NaN,NaN,NaN
2916,Wales,OWID_WLS,2022-03,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",6885224.0,2521885.0,2389355.0,14444.0,14568.0,217.20,79.55,75.37,4596.0,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
finaldf = new_df[new_df['continent'].isnull() == False]

In [27]:
finaldf.isnull().sum()

country                                   0
iso_code                                  0
month_year                                0
vaccines                               2573
total_vaccinations                     2573
people_vaccinated                      2573
people_fully_vaccinated                2573
monthly_vaccinations_raw               2573
monthly_vaccinations                   2573
total_vaccinations_per_hundred         2573
people_vaccinated_per_hundred          2573
people_fully_vaccinated_per_hundred    2573
monthly_vaccinations_per_million       2573
continent                                 0
population                                0
new_cases                                 0
total_cases                             134
new_deaths                                0
total_deaths                            725
dtype: int64

In [28]:
nan2 = finaldf[finaldf['total_cases'].isnull() == True]

In [29]:
nan2

,country,iso_code,month_year,vaccines,total_vaccinations,people_vaccinated,people_fully_vaccinated,monthly_vaccinations_raw,monthly_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,monthly_vaccinations_per_million,continent,population,new_cases,total_cases,new_deaths,total_deaths
1095,Guernsey,GGY,2021-01,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",6673.0,6151.0,522.0,0.0,4228.0,10.53,9.70,0.82,66703.0,Europe,63385.0,0.0,NaN,0.0,NaN
1096,Guernsey,GGY,2021-02,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",20047.0,13950.0,5334.0,0.0,11551.0,31.63,22.01,8.42,182236.0,Europe,63385.0,0.0,NaN,0.0,NaN
1097,Guernsey,GGY,2021-03,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",29383.0,21500.0,7883.0,0.0,13936.0,46.36,33.92,12.44,219856.0,Europe,63385.0,0.0,NaN,0.0,NaN
1098,Guernsey,GGY,2021-04,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",46587.0,32969.0,13618.0,0.0,14582.0,73.50,52.01,21.48,230052.0,Europe,63385.0,0.0,NaN,0.0,NaN
1099,Guernsey,GGY,2021-05,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",63791.0,0.0,0.0,5105.0,14621.0,100.64,0.00,0.00,230671.0,Europe,63385.0,0.0,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5021,Serbia,SRB,2020-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Europe,6871547.0,0.0,NaN,0.0,NaN
5065,Sint Maarten (Dutch part),SXM,2022-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,North America,43421.0,0.0,NaN,0.0,NaN
5076,Slovenia,SVN,2020-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Europe,2078723.0,0.0,NaN,0.0,NaN
5105,South Africa,ZAF,2020-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Africa,60041996.0,0.0,NaN,0.0,NaN
5340,Turkmenistan,TKM,2021-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Asia,6117933.0,0.0,NaN,0.0,NaN

In [30]:
finaldf.to_csv(os.path.join(path, '02_Data', 'Prepared_Data', 'Merge3.csv'), index=False)

In [31]:
#define new data frame and imputing NaN with 0
dfclean = finaldf
dfclean.fillna(0, inplace =True)

C:\Users\M de Villiers\anaconda3\lib\site-packages\pandas\core\frame.py:5176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [32]:
dfclean.head()

,country,iso_code,month_year,vaccines,total_vaccinations,people_vaccinated,people_fully_vaccinated,monthly_vaccinations_raw,monthly_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,monthly_vaccinations_per_million,continent,population,new_cases,total_cases,new_deaths,total_deaths
0,Afghanistan,AFG,2021-02,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",8200.0,8200.0,0.0,0.0,8202.0,0.02,0.02,0.00,204.0,Asia,39835428.0,691.0,55714.0,43.0,2443.0
1,Afghanistan,AFG,2021-03,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",54000.0,54000.0,0.0,0.0,85894.0,0.14,0.14,0.00,2154.0,Asia,39835428.0,740.0,56454.0,41.0,2484.0
2,Afghanistan,AFG,2021-04,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",240000.0,240000.0,0.0,0.0,219606.0,0.60,0.60,0.00,5511.0,Asia,39835428.0,3291.0,59745.0,141.0,2625.0
3,Afghanistan,AFG,2021-05,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",600152.0,480226.0,119926.0,2859.0,285838.0,1.51,1.21,0.30,7171.0,Asia,39835428.0,12093.0,71838.0,319.0,2944.0
4,Afghanistan,AFG,2021-06,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",886854.0,699200.0,187654.0,4015.0,242899.0,2.23,1.76,0.47,6097.0,Asia,39835428.0,46821.0,118659.0,1927.0,4871.0

In [33]:
dfclean.isnull().sum()

country                                0
iso_code                               0
month_year                             0
vaccines                               0
total_vaccinations                     0
people_vaccinated                      0
people_fully_vaccinated                0
monthly_vaccinations_raw               0
monthly_vaccinations                   0
total_vaccinations_per_hundred         0
people_vaccinated_per_hundred          0
people_fully_vaccinated_per_hundred    0
monthly_vaccinations_per_million       0
continent                              0
population                             0
new_cases                              0
total_cases                            0
new_deaths                             0
total_deaths                           0
dtype: int64

In [34]:
dfclean.to_csv(os.path.join(path, '02_Data', 'Prepared_Data', 'COVID-19_Final1.csv'), index=False)