# Global COVID-19 Vaccination Progress

## This Script contains:
### 1. Import Libraries & Data
### 2. Consistency Checks & Cleaning
### 3. Basic Descriptive Statistical Analysis

# 1. Import Libraries & Data

## 1.1 Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

## 1.2 Data

In [2]:
# Create Path
path = r'C:\Users\M de Villiers\Desktop\Data Analytics\Achievement 6'

In [3]:
# Import Data
df = pd.read_csv(os.path.join(path, '02_Data', 'Original_Data', 'country_vaccinations.csv'), index_col = False)

In [4]:
df.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/

In [5]:
df.tail()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
81971,Zimbabwe,ZWE,2022-03-03,7921113.0,4372925.0,3406482.0,10373.0,8903.0,52.48,28.97,22.57,590.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...
81972,Zimbabwe,ZWE,2022-03-04,7930621.0,4374896.0,3408609.0,9508.0,8603.0,52.55,28.99,22.59,570.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...
81973,Zimbabwe,ZWE,2022-03-05,7936145.0,4377373.0,3410340.0,5524.0,8458.0,52.58,29.00,22.60,560.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...
81974,Zimbabwe,ZWE,2022-03-06,7938362.0,4378029.0,3410960.0,2217.0,8017.0,52.60,29.01,22.60,531.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...
81975,Zimbabwe,ZWE,2022-03-07,7943325.0,4379875.0,3412556.0,4963.0,7482.0,52.63,29.02,22.61,496.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",Ministry of Health,https://www.arcgis.com/home/webmap/viewer.html...

In [6]:
df.shape

(81976, 15)

# 2. Consistency Checks & Cleaning

### Dropping columns

In [7]:
# dropiing unnecessary columns: source_name
df = df.drop(columns = ['source_name'])

In [8]:
# dropiing unnecessary columns: source_website
df = df.drop(columns = ['source_website'])

In [9]:
df.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."

In [10]:
df.shape

(81976, 13)

### Checking Data Types

In [11]:
# Check for mixed data types
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

No mixed data types

In [12]:
# Check data types
df.dtypes

country                                 object
iso_code                                object
date                                    object
total_vaccinations                     float64
people_vaccinated                      float64
people_fully_vaccinated                float64
daily_vaccinations_raw                 float64
daily_vaccinations                     float64
total_vaccinations_per_hundred         float64
people_vaccinated_per_hundred          float64
people_fully_vaccinated_per_hundred    float64
daily_vaccinations_per_million         float64
vaccines                                object
dtype: object

In [13]:
df['date'] = df['date'].astype('datetime64[ns]')

In [14]:
df.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."

In [15]:
df.tail()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines
81971,Zimbabwe,ZWE,2022-03-03,7921113.0,4372925.0,3406482.0,10373.0,8903.0,52.48,28.97,22.57,590.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac..."
81972,Zimbabwe,ZWE,2022-03-04,7930621.0,4374896.0,3408609.0,9508.0,8603.0,52.55,28.99,22.59,570.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac..."
81973,Zimbabwe,ZWE,2022-03-05,7936145.0,4377373.0,3410340.0,5524.0,8458.0,52.58,29.00,22.60,560.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac..."
81974,Zimbabwe,ZWE,2022-03-06,7938362.0,4378029.0,3410960.0,2217.0,8017.0,52.60,29.01,22.60,531.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac..."
81975,Zimbabwe,ZWE,2022-03-07,7943325.0,4379875.0,3412556.0,4963.0,7482.0,52.63,29.02,22.61,496.0,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac..."

### Missing Values

In [16]:
# finding missing values
df.isnull().sum()

country                                    0
iso_code                                   0
date                                       0
total_vaccinations                     40103
people_vaccinated                      42338
people_fully_vaccinated                44857
daily_vaccinations_raw                 47943
daily_vaccinations                       279
total_vaccinations_per_hundred         40103
people_vaccinated_per_hundred          42338
people_fully_vaccinated_per_hundred    44857
daily_vaccinations_per_million           279
vaccines                                   0
dtype: int64

Upon further investigation, it would seem these values aren't missing. The timeline of the data is on a daily basis and some countries only report their statistics once a week, thus the rest of the days in the week will have "missing" values. I will change all of these to 0 since I might want to aggregate them at a later stage.

In [17]:
# Imputing missing values with 0
df.fillna(0, inplace =True)

In [18]:
df.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines
0,Afghanistan,AFG,2021-02-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
1,Afghanistan,AFG,2021-02-23,0.0,0.0,0.0,0.0,1367.0,0.0,0.0,0.0,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
2,Afghanistan,AFG,2021-02-24,0.0,0.0,0.0,0.0,1367.0,0.0,0.0,0.0,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
3,Afghanistan,AFG,2021-02-25,0.0,0.0,0.0,0.0,1367.0,0.0,0.0,0.0,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
4,Afghanistan,AFG,2021-02-26,0.0,0.0,0.0,0.0,1367.0,0.0,0.0,0.0,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."

In [19]:
df.isnull().sum()

country                                0
iso_code                               0
date                                   0
total_vaccinations                     0
people_vaccinated                      0
people_fully_vaccinated                0
daily_vaccinations_raw                 0
daily_vaccinations                     0
total_vaccinations_per_hundred         0
people_vaccinated_per_hundred          0
people_fully_vaccinated_per_hundred    0
daily_vaccinations_per_million         0
vaccines                               0
dtype: int64

### Duplicates

In [20]:
df[df.duplicated()]

Empty DataFrame
Columns: [country, iso_code, date, total_vaccinations, people_vaccinated, people_fully_vaccinated, daily_vaccinations_raw, daily_vaccinations, total_vaccinations_per_hundred, people_vaccinated_per_hundred, people_fully_vaccinated_per_hundred, daily_vaccinations_per_million, vaccines]
Index: []

No duplicates

### Consistency

In [21]:
pd.options.display.max_rows = None

In [22]:
# Country names
df['country'].value_counts()

Norway                              460
Latvia                              459
United States                       450
Canada                              449
Russia                              448
Denmark                             448
China                               448
Israel                              444
Switzerland                         441
Liechtenstein                       441
Qatar                               441
Chile                               438
Mexico                              438
Lithuania                           436
Slovenia                            436
Czechia                             436
Germany                             436
Italy                               436
Estonia                             436
Hungary                             435
Poland                              435
Greece                              435
France                              435
Portugal                            435
Romania                             435
Ireland                             434
Bulgaria                            434
Argentina                           434
Kuwait                              434
Belgium                             433
Luxembourg                          433
Singapore                           433
Croatia                             432
Costa Rica                          432
Finland                             429
Slovakia                            428
Oman                                428
Cayman Islands                      427
Iceland                             427
United Arab Emirates                427
Sweden                              426
Spain                               424
Serbia                              423
Netherlands                         421
England                             421
Scotland                            421
Northern Ireland                    421
Austria                             421
United Kingdom                      421
Wales                               421
Belarus                             420
Indonesia                           420
Gibraltar                           419
Bermuda                             419
Turkey                              419
Seychelles                          418
India                               417
Cyprus                              417
Albania                             416
Jordan                              415
Azerbaijan                          415
Brazil                              415
Malta                               414
Bahrain                             414
Turks and Caicos Islands            412
Panama                              412
Isle of Man                         411
Ecuador                             410
Guernsey                            408
Saudi Arabia                        406
Bangladesh                          406
Greenland                           405
Nepal                               404
Myanmar                             404
Sri Lanka                           403
Egypt                               403
Morocco                             403
French Polynesia                    399
New Caledonia                       399
Pakistan                            399
Maldives                            397
Kazakhstan                          397
Bolivia                             393
Macao                               393
Iran                                393
Anguilla                            392
Peru                                391
Cambodia                            391
Algeria                             390
Mauritius                           390
Lebanon                             388
Dominica                            387
Guyana                              387
New Zealand                         387
Trinidad and Tobago                 386
Faeroe Islands                      386
Dominican Republic                  386
Barbados                            385
South Africa                        385
Grenada                             385
Andorra                             385
Japan                               384
Montserrat                          383
Zimbabwe                            383
Colombia                            381
Montenegro                          381
Australia                           380
Saint Lucia                         380
Antigua and Barbuda                 379
Mongolia                            379
Hong Kong                           378
Suriname                            378
Afghanistan                         378
Malaysia                            377
El Salvador                         377
Paraguay                            376
Rwanda                              376
South Korea                         375
Venezuela                           374
Thailand                            374
Guatemala                           373
Senegal                             373
Belize                              370
Cote d'Ivoire                       370
Iraq                                370
North Macedonia                     370
Saint Kitts and Nevis               369
Moldova                             368
Angola                              368
Nigeria                             368
Nicaragua                           367
Syria                               366
Uruguay                             366
Ukraine                             365
Philippines                         365
Vietnam                             365
Kenya                               364
Mozambique                          364
Jamaica                             364
Honduras                            363
Ghana                               363
Lesotho                             361
Togo                                361
Tunisia                             360
San Marino                          359
Georgia                             359
Monaco                              357
Uganda                              357
Sierra Leone                        356
Fiji                                356
Laos                                356
Malawi                              355
Equatorial Guinea                   355
Saint Vincent and the Grenadines    354
Sao Tome and Principe               353
Cape Verde                          353
Bosnia and Herzegovina              353
Taiwan                              352
Jersey                              351
Solomon Islands                     350
Bahamas                             348
Botswana                            347
Gambia                              346
Kosovo                              345
Kyrgyzstan                          345
Namibia                             345
Aruba                               344
Sudan                               344
Curacao                             343
Wallis and Futuna                   343
Papua New Guinea                    343
Palestine                           342
Mauritania                          341
Guinea                              341
Mali                                340
Bhutan                              339
Niger                               336
Armenia                             334
Ethiopia                            333
Brunei                              330
Eswatini                            329
Gabon                               327
Uzbekistan                          327
Zambia                              326
Cameroon                            325
Libya                               324
South Sudan                         322
Timor                               322
Comoros                             318
Somalia                             318
Northern Cyprus                     317
Democratic Republic of Congo        317
Djibouti                            316
Tonga                               315
Congo                               308
Yemen                               302
Guinea-Bissau                       299
Cuba                                298
Central African Republic            297
Sint Maarten (Dutch part)           295
Samoa                               294
Madagascar                          293
Tajikistan                          290
Benin                               287
Cook Islands                        287
Nauru                               286
British Virgin Islands              281
Kiribati                            280
Burkina Faso                        278
Liberia                             276
Vanuatu                             273
Chad                                254
Haiti                               232
Tanzania                            200
Turkmenistan                        183
Tuvalu                              179
Niue                                157
Bonaire Sint Eustatius and Saba     146
Burundi                             137
Tokelau                             114
Saint Helena                         92
Pitcairn                             85
Falkland Islands                     67
Name: country, dtype: int64

All country names are accurate and the format is consistent

In [23]:
# Date
df['date'].value_counts()

2021-08-28    220
2021-08-17    220
2021-08-26    220
2021-08-25    220
2021-08-24    220
2021-08-23    220
2021-08-22    220
2021-08-21    220
2021-08-20    220
2021-08-18    220
2021-08-16    220
2021-08-29    220
2021-08-15    220
2021-08-14    220
2021-08-13    220
2021-08-12    220
2021-08-11    220
2021-08-10    220
2021-08-09    220
2021-08-08    220
2021-08-27    220
2021-08-19    220
2021-07-30    219
2021-07-24    219
2021-07-29    219
2021-08-30    219
2021-08-31    219
2021-09-01    219
2021-07-16    219
2021-07-17    219
2021-07-18    219
2021-07-19    219
2021-07-20    219
2021-07-21    219
2021-07-22    219
2021-07-23    219
2021-07-25    219
2021-07-26    219
2021-07-27    219
2021-07-28    219
2021-08-07    219
2021-08-06    219
2021-08-05    219
2021-08-04    219
2021-08-03    219
2021-08-02    219
2021-08-01    219
2021-07-31    219
2021-07-13    218
2021-06-21    218
2021-07-15    218
2021-07-14    218
2021-06-22    218
2021-07-12    218
2021-07-11    218
2021-06-23    218
2021-06-24    218
2021-06-25    218
2021-06-26    218
2021-06-27    218
2021-06-28    218
2021-06-29    218
2021-06-30    218
2021-07-01    218
2021-07-02    218
2021-07-03    218
2021-07-04    218
2021-07-05    218
2021-07-06    218
2021-07-07    218
2021-07-08    218
2021-09-07    218
2021-09-06    218
2021-09-05    218
2021-09-04    218
2021-09-03    218
2021-09-02    218
2021-07-09    218
2021-07-10    218
2021-09-25    217
2021-09-24    217
2021-09-26    217
2021-09-09    217
2021-09-10    217
2021-09-11    217
2021-09-12    217
2021-09-13    217
2021-09-14    217
2021-09-15    217
2021-09-16    217
2021-09-17    217
2021-09-18    217
2021-09-19    217
2021-09-20    217
2021-09-21    217
2021-09-22    217
2021-09-23    217
2021-09-08    217
2021-09-27    217
2021-10-21    217
2021-09-28    217
2021-10-20    217
2021-10-19    217
2021-10-12    217
2021-10-11    217
2021-10-09    217
2021-10-08    217
2021-10-07    217
2021-10-06    217
2021-10-05    217
2021-10-04    217
2021-10-03    217
2021-10-02    217
2021-10-01    217
2021-09-30    217
2021-09-29    217
2021-10-22    217
2021-10-10    217
2021-06-20    216
2021-10-13    216
2021-11-04    216
2021-11-03    216
2021-11-02    216
2021-11-01    216
2021-10-31    216
2021-10-30    216
2021-10-29    216
2021-10-28    216
2021-10-27    216
2021-06-19    216
2021-10-25    216
2021-10-24    216
2021-10-23    216
2021-10-18    216
2021-10-17    216
2021-10-16    216
2021-10-15    216
2021-11-05    216
2021-11-06    216
2021-11-07    216
2021-11-17    216
2021-11-24    216
2021-11-23    216
2021-11-22    216
2021-11-21    216
2021-11-20    216
2021-11-19    216
2021-11-18    216
2021-11-16    216
2021-11-08    216
2021-11-15    216
2021-11-14    216
2021-11-13    216
2021-11-12    216
2021-11-11    216
2021-11-10    216
2021-11-09    216
2021-10-14    216
2021-10-26    216
2021-06-16    216
2021-06-17    216
2021-06-15    216
2021-06-18    216
2021-06-10    215
2021-06-11    215
2021-06-13    215
2021-06-14    215
2021-06-12    215
2021-11-25    215
2021-11-26    215
2021-12-14    214
2021-12-10    214
2021-12-11    214
2021-12-09    214
2021-12-08    214
2021-12-12    214
2021-12-13    214
2021-06-09    214
2021-12-15    214
2021-12-16    214
2021-12-06    214
2021-12-17    214
2021-12-18    214
2021-12-19    214
2021-12-07    214
2021-06-04    214
2021-12-05    214
2021-12-04    214
2021-12-03    214
2021-06-02    214
2021-06-03    214
2021-12-21    214
2021-06-05    214
2021-06-06    214
2021-06-07    214
2021-06-08    214
2021-12-02    214
2021-11-27    214
2021-11-28    214
2021-11-29    214
2021-12-01    214
2021-12-20    214
2021-11-30    214
2021-12-22    213
2021-06-01    213
2022-01-06    213
2022-01-18    213
2022-01-17    213
2022-01-16    213
2022-01-15    213
2022-01-14    213
2022-01-13    213
2022-01-12    213
2022-01-11    213
2022-01-10    213
2022-01-09    213
2022-01-08    213
2022-01-07    213
2021-12-23    213
2021-12-31    213
2022-01-04    213
2021-12-24    213
2022-01-05    213
2022-01-03    213
2022-01-01    213
2022-01-02    213
2021-12-30    213
2021-12-29    213
2021-12-28    213
2021-12-27    213
2021-12-26    213
2021-12-25    213
2022-01-23    212
2022-01-29    212
2022-01-28    212
2022-01-27    212
2022-01-25    212
2022-01-24    212
2022-01-26    212
2022-01-20    212
2022-01-19    212
2022-01-21    212
2022-01-22    212
2021-05-31    211
2021-05-30    211
2021-05-29    211
2021-05-28    211
2021-05-27    211
2021-05-26    211
2021-05-25    211
2022-01-31    211
2022-02-01    211
2022-02-02    211
2022-02-03    211
2022-02-04    211
2022-02-05    211
2022-02-06    211
2022-02-07    211
2022-02-08    211
2022-02-09    211
2022-01-30    211
2021-05-24    210
2021-05-23    210
2021-05-22    210
2021-05-21    210
2021-05-15    209
2021-05-17    209
2022-02-10    209
2021-05-12    209
2021-05-13    209
2021-05-14    209
2021-05-18    209
2021-05-19    209
2021-05-20    209
2021-05-16    209
2022-02-11    208
2022-02-12    208
2022-02-13    208
2022-02-17    208
2022-02-14    207
2022-02-15    206
2022-02-16    203
2021-05-10    203
2021-05-09    203
2021-05-11    203
2022-02-18    202
2021-05-08    202
2021-05-07    202
2021-05-05    201
2021-05-04    201
2021-04-28    200
2021-04-29    200
2021-04-30    200
2021-05-01    200
2021-05-02    200
2021-05-03    200
2021-04-27    200
2021-05-06    200
2022-02-20    200
2022-02-19    200
2021-04-25    199
2021-04-21    199
2021-04-22    199
2021-04-23    199
2021-04-24    199
2021-04-26    199
2021-04-20    198
2021-04-19    197
2021-04-18    197
2021-04-17    196
2021-04-14    194
2021-04-15    193
2022-02-21    193
2021-04-16    193
2022-02-22    191
2021-04-13    191
2021-04-12    191
2021-04-11    191
2021-04-10    190
2021-04-09    190
2021-04-08    189
2022-02-23    189
2022-02-24    188
2021-04-05    187
2021-04-06    187
2021-04-07    187
2021-04-04    186
2021-04-03    186
2021-04-02    186
2021-04-01    185
2021-03-31    185
2022-02-25    185
2021-03-30    183
2021-03-29    179
2021-03-28    177
2021-03-26    174
2022-02-26    174
2021-03-27    174
2021-03-25    172
2022-02-27    171
2021-03-23    171
2021-03-24    171
2021-03-22    169
2021-03-21    168
2021-03-20    167
2021-03-19    167
2021-03-18    166
2022-02-28    166
2021-03-17    164
2021-03-16    160
2021-03-15    159
2021-03-14    158
2021-03-13    155
2022-03-01    154
2021-03-12    154
2021-03-10    153
2021-03-11    153
2021-03-09    152
2021-03-08    147
2021-03-07    147
2021-03-06    145
2021-03-05    145
2021-03-04    144
2022-03-04    144
2022-03-02    143
2021-03-02    142
2021-03-03    142
2021-03-01    142
2021-02-28    136
2022-03-03    136
2021-02-27    132
2021-02-26    129
2021-02-25    128
2021-02-24    127
2021-02-22    125
2021-02-23    125
2021-02-21    118
2021-02-20    117
2021-02-18    116
2022-03-05    116
2021-02-19    116
2021-02-17    115
2021-02-16    111
2021-02-15    107
2021-02-14    103
2021-02-13    102
2021-02-12    101
2021-02-11    101
2022-03-06    100
2021-02-10     97
2021-02-09     97
2021-02-08     96
2021-02-07     92
2021-02-05     91
2021-02-06     91
2021-02-04     91
2021-02-03     90
2021-02-02     89
2021-02-01     84
2021-01-31     84
2021-01-30     83
2021-01-29     83
2021-01-28     81
2021-01-27     79
2021-01-26     78
2021-01-25     75
2021-01-24     73
2021-01-21     71
2021-01-23     71
2021-01-22     71
2021-01-20     70
2021-01-19     68
2021-01-18     68
2021-01-17     68
2021-01-16     65
2021-01-15     65
2021-01-14     64
2021-01-13     63
2021-01-12     62
2022-03-07     62
2021-01-11     60
2021-01-10     60
2021-01-09     51
2021-01-08     49
2021-01-06     47
2021-01-07     47
2021-01-05     45
2021-01-04     44
2021-01-03     43
2020-12-30     40
2020-12-31     40
2021-01-01     40
2021-01-02     40
2020-12-29     36
2020-12-28     34
2020-12-27     25
2020-12-26     16
2020-12-24     15
2020-12-25     15
2020-12-23     12
2020-12-22     11
2020-12-21     10
2020-12-19      8
2020-12-20      8
2020-12-16      7
2020-12-18      7
2020-12-15      7
2020-12-17      7
2020-12-14      5
2020-12-13      4
2020-12-11      3
2020-12-12      3
2020-12-10      3
2020-12-09      3
2020-12-08      3
2020-12-04      2
2020-12-05      2
2020-12-06      2
2020-12-07      2
2020-12-02      1
2020-12-03      1
Name: date, dtype: int64

Not all daily dates have the same counts. I might have to aggregate the daily dates into monthly summaries for each country.

# Basic Descriptive Statistics

In [24]:
df1 = df.describe()

In [25]:
df1

,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
count,8.197600e+04,8.197600e+04,8.197600e+04,8.197600e+04,8.197600e+04,81976.000000,81976.000000,81976.000000,81976.000000
mean,2.179128e+07,8.045972e+06,5.914203e+06,1.131501e+05,1.339338e+05,39.131932,19.218864,15.487147,3327.513882
std,1.533819e+08,4.698962e+07,3.590141e+07,8.023596e+05,7.829058e+05,60.609306,28.312537,25.393017,3968.625418
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.340000e+02,0.000000,0.000000,0.000000,674.000000
50%,7.423500e+03,0.000000e+00,0.000000e+00,0.000000e+00,7.557500e+03,0.130000,0.000000,0.000000,2146.000000
75%,3.628498e+06,1.830708e+06,1.102393e+06,1.401650e+04,4.489200e+04,65.900000,37.090000,24.000000,4788.000000
max,3.165486e+09,1.269302e+09,1.234540e+09,2.474100e+07,2.242429e+07,336.160000,124.650000,121.530000,117497.000000

In [26]:
df1.to_clipboard()

# Export Data

In [27]:
df.to_csv(os.path.join(path, '02_Data','Prepared_Data', 'covid_vaccinations_clean.csv'), index = False)