# Task 6.2: Exploring Relationships

## This script contains:
### Importing libraries & data
### Heat map

# Import Libraries & Data

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib

In [2]:
#create path
path = r'C:\Users\M de Villiers\Desktop\Data Analytics\Achievement 6'

In [3]:
# import data
df=pd.read_csv(os.path.join(path, '02_Data', 'Prepared_Data', 'monthly_COVID-19_vaccinations_3.csv'), index_col=False)

In [4]:
df.head()

,country,Population (2020),iso_code,month_year,vaccines,total_vaccinations,people_vaccinated,people_fully_vaccinated,monthly_vaccinations_raw,monthly_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,monthly_vaccinations_per_million
0,Afghanistan,39074280,AFG,2021-02,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",8200.0,8200.0,0.0,0.0,8202.0,0.02,0.02,0.00,204.0
1,Afghanistan,39074280,AFG,2021-03,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",54000.0,54000.0,0.0,0.0,85894.0,0.14,0.14,0.00,2154.0
2,Afghanistan,39074280,AFG,2021-04,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",240000.0,240000.0,0.0,0.0,219606.0,0.60,0.60,0.00,5511.0
3,Afghanistan,39074280,AFG,2021-05,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",600152.0,480226.0,119926.0,2859.0,285838.0,1.51,1.21,0.30,7171.0
4,Afghanistan,39074280,AFG,2021-06,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",886854.0,699200.0,187654.0,4015.0,242899.0,2.23,1.76,0.47,6097.0

In [5]:
# check missing values
df.isnull().sum()

country                                 0
Population (2020)                       0
iso_code                               22
month_year                             22
vaccines                               22
total_vaccinations                     22
people_vaccinated                      22
people_fully_vaccinated                22
monthly_vaccinations_raw               22
monthly_vaccinations                   22
total_vaccinations_per_hundred         22
people_vaccinated_per_hundred          22
people_fully_vaccinated_per_hundred    22
monthly_vaccinations_per_million       22
dtype: int64

In [6]:
# create df of missing values
df_nan2 = df[df['month_year'].isnull() == True]

In [7]:
df_nan2

,country,Population (2020),iso_code,month_year,vaccines,total_vaccinations,people_vaccinated,people_fully_vaccinated,monthly_vaccinations_raw,monthly_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,monthly_vaccinations_per_million
44,American Samoa,55169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
526,Channel Islands,174140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
841,Eritrea,3554797,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,French Guiana,299958,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1085,Guadeloupe,400136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1086,Guam,169031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1162,Holy See,801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1695,Marshall Islands,59259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1696,Martinique,375213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1725,Mayotte,273905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1742,Micronesia,115231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1977,North Korea,25798588,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006,Northern Mariana Islands,57619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2063,Palau,18109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2182,Puerto Rico,2846860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2199,Reunion,896422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2246,Saint Barthelemy,9882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2278,Saint Martin,38778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2279,Saint Pierre & Miquelon,5789,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2691,Timor-Leste,1322667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2791,U.S. Virgin Islands,104398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2950,Western Sahara,599769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# create new df without missing values
df1 = df[df['month_year'].isnull() == False]

In [9]:
df1.head()

,country,Population (2020),iso_code,month_year,vaccines,total_vaccinations,people_vaccinated,people_fully_vaccinated,monthly_vaccinations_raw,monthly_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,monthly_vaccinations_per_million
0,Afghanistan,39074280,AFG,2021-02,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",8200.0,8200.0,0.0,0.0,8202.0,0.02,0.02,0.00,204.0
1,Afghanistan,39074280,AFG,2021-03,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",54000.0,54000.0,0.0,0.0,85894.0,0.14,0.14,0.00,2154.0
2,Afghanistan,39074280,AFG,2021-04,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",240000.0,240000.0,0.0,0.0,219606.0,0.60,0.60,0.00,5511.0
3,Afghanistan,39074280,AFG,2021-05,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",600152.0,480226.0,119926.0,2859.0,285838.0,1.51,1.21,0.30,7171.0
4,Afghanistan,39074280,AFG,2021-06,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",886854.0,699200.0,187654.0,4015.0,242899.0,2.23,1.76,0.47,6097.0

In [10]:
df1.tail()

,country,Population (2020),iso_code,month_year,vaccines,total_vaccinations,people_vaccinated,people_fully_vaccinated,monthly_vaccinations_raw,monthly_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,monthly_vaccinations_per_million
2983,Zimbabwe,14899771,ZWE,2021-11,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",6611942.0,3795401.0,2816541.0,618042.0,679619.0,43.81,25.15,18.66,45028.0
2984,Zimbabwe,14899771,ZWE,2021-12,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",7264791.0,4124378.0,3135168.0,626997.0,679454.0,48.14,27.33,20.77,45019.0
2985,Zimbabwe,14899771,ZWE,2022-01,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",7632514.0,4270759.0,3299624.0,367723.0,375550.0,50.57,28.30,21.86,24882.0
2986,Zimbabwe,14899771,ZWE,2022-02,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",7890951.0,4362150.0,3396655.0,258437.0,258018.0,52.29,28.90,22.51,17096.0
2987,Zimbabwe,14899771,ZWE,2022-03,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",7943325.0,4379875.0,3412556.0,52374.0,59815.0,52.63,29.02,22.61,3963.0

In [11]:
df1.shape

(2966, 14)

In [12]:
df1.to_csv(os.path.join(path, '02_Data', 'Prepared_Data', 'monthly_COVID-19_vaccinations_6.csv'), index=False)