# Task 6.3: Geographical Visualisations

## This script contains:
1. Import libraries and data
2. Data wrangling
3. Data cleaning
4. Plotting a choropleth

# 1. Import Data and Libraries

## Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import os
import folium
import json

## Data

In [2]:
# Create path
path = r'C:\Users\M de Villiers\Desktop\Data Analytics\Achievement 6'

In [3]:
df=pd.read_csv(os.path.join(path, '02_Data', 'Prepared_Data', 'monthly_COVID-19_vaccinations_6.csv'), index_col=False)

In [4]:
df.head()

,country,Population (2020),iso_code,month_year,vaccines,total_vaccinations,people_vaccinated,people_fully_vaccinated,monthly_vaccinations_raw,monthly_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,monthly_vaccinations_per_million
0,Afghanistan,39074280,AFG,2021-02,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",8200.0,8200.0,0.0,0.0,8202.0,0.02,0.02,0.00,204.0
1,Afghanistan,39074280,AFG,2021-03,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",54000.0,54000.0,0.0,0.0,85894.0,0.14,0.14,0.00,2154.0
2,Afghanistan,39074280,AFG,2021-04,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",240000.0,240000.0,0.0,0.0,219606.0,0.60,0.60,0.00,5511.0
3,Afghanistan,39074280,AFG,2021-05,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",600152.0,480226.0,119926.0,2859.0,285838.0,1.51,1.21,0.30,7171.0
4,Afghanistan,39074280,AFG,2021-06,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",886854.0,699200.0,187654.0,4015.0,242899.0,2.23,1.76,0.47,6097.0

In [5]:
df.tail()

,country,Population (2020),iso_code,month_year,vaccines,total_vaccinations,people_vaccinated,people_fully_vaccinated,monthly_vaccinations_raw,monthly_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,monthly_vaccinations_per_million
2961,Zimbabwe,14899771,ZWE,2021-11,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",6611942.0,3795401.0,2816541.0,618042.0,679619.0,43.81,25.15,18.66,45028.0
2962,Zimbabwe,14899771,ZWE,2021-12,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",7264791.0,4124378.0,3135168.0,626997.0,679454.0,48.14,27.33,20.77,45019.0
2963,Zimbabwe,14899771,ZWE,2022-01,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",7632514.0,4270759.0,3299624.0,367723.0,375550.0,50.57,28.30,21.86,24882.0
2964,Zimbabwe,14899771,ZWE,2022-02,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",7890951.0,4362150.0,3396655.0,258437.0,258018.0,52.29,28.90,22.51,17096.0
2965,Zimbabwe,14899771,ZWE,2022-03,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac...",7943325.0,4379875.0,3412556.0,52374.0,59815.0,52.63,29.02,22.61,3963.0

In [6]:
df2=pd.read_csv(os.path.join(path, '02_Data', 'Original_Data', 'WHO-COVID-19-global-data.csv'), index_col=False)

In [7]:
df2.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [8]:
df2.dtypes

Date_reported        object
Country_code         object
Country              object
WHO_region           object
New_cases             int64
Cumulative_cases      int64
New_deaths            int64
Cumulative_deaths     int64
dtype: object

In [9]:
df2['Date_reported'] = df2['Date_reported'].astype('datetime64[ns]')

In [10]:
df2.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [11]:
# Extracting month and year from date to group by month and date for time series
df2['month_year'] = pd.to_datetime(df2['Date_reported']).dt.to_period('M')

In [12]:
df2.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,month_year
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0,2020-01
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0,2020-01
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0,2020-01
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0,2020-01
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0,2020-01

In [13]:
df2.tail()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,month_year
191017,2022-03-14,ZW,Zimbabwe,AFRO,158,242515,0,5414,2022-03
191018,2022-03-15,ZW,Zimbabwe,AFRO,394,242909,2,5416,2022-03
191019,2022-03-16,ZW,Zimbabwe,AFRO,456,243365,1,5417,2022-03
191020,2022-03-17,ZW,Zimbabwe,AFRO,285,243650,1,5418,2022-03
191021,2022-03-18,ZW,Zimbabwe,AFRO,362,244012,2,5420,2022-03

In [14]:
df2.dtypes

Date_reported        datetime64[ns]
Country_code                 object
Country                      object
WHO_region                   object
New_cases                     int64
Cumulative_cases              int64
New_deaths                    int64
Cumulative_deaths             int64
month_year                period[M]
dtype: object

In [15]:
# Create new df with aggregated values by month adn year
df2 = df2.groupby(['Country', 'Country_code', 'month_year'], as_index=False).agg(new_cases = ('New_cases', 'sum'), cumulative_cases = ('Cumulative_cases', 'max'), new_deaths = ('New_deaths', 'sum'), cumulative_deaths = ('Cumulative_deaths', 'max'))

In [16]:
df2.head()

,Country,Country_code,month_year,new_cases,cumulative_cases,new_deaths,cumulative_deaths
0,Afghanistan,AF,2020-01,0,0,0,0
1,Afghanistan,AF,2020-02,5,5,0,0
2,Afghanistan,AF,2020-03,161,166,4,4
3,Afghanistan,AF,2020-04,1661,1827,56,60
4,Afghanistan,AF,2020-05,13353,15180,194,254

In [17]:
df2.rename(columns = {'Country' : 'country'}, inplace = True)

In [27]:
df2.rename(columns = {'Country_code' : 'country_code'}, inplace = True)

In [20]:
df2['month_year'] = df2['month_year'].astype('str')

In [21]:
df['month_year'] = df['month_year'].astype('str')

In [22]:
new_df = df.merge(df2, on = ['country', 'month_year'], how = 'outer', sort=False)

In [23]:
new_df.head(20)

,country,Population (2020),iso_code,month_year,vaccines,total_vaccinations,people_vaccinated,people_fully_vaccinated,monthly_vaccinations_raw,monthly_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,monthly_vaccinations_per_million,country_code,new_cases,cumulative_cases,new_deaths,cumulative_deaths
0,Afghanistan,39074280.0,AFG,2021-02,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",8200.0,8200.0,0.0,0.0,8202.0,0.02,0.02,0.00,204.0,AF,691.0,55714.0,43.0,2443.0
1,Afghanistan,39074280.0,AFG,2021-03,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",54000.0,54000.0,0.0,0.0,85894.0,0.14,0.14,0.00,2154.0,AF,740.0,56454.0,41.0,2484.0
2,Afghanistan,39074280.0,AFG,2021-04,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",240000.0,240000.0,0.0,0.0,219606.0,0.60,0.60,0.00,5511.0,AF,3291.0,59745.0,141.0,2625.0
3,Afghanistan,39074280.0,AFG,2021-05,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",600152.0,480226.0,119926.0,2859.0,285838.0,1.51,1.21,0.30,7171.0,AF,12093.0,71838.0,319.0,2944.0
4,Afghanistan,39074280.0,AFG,2021-06,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",886854.0,699200.0,187654.0,4015.0,242899.0,2.23,1.76,0.47,6097.0,AF,46821.0,118659.0,1927.0,4871.0
5,Afghanistan,39074280.0,AFG,2021-07,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",1171064.0,742934.0,219159.0,0.0,337196.0,2.94,1.87,0.55,8466.0,AF,28495.0,147154.0,1837.0,6708.0
6,Afghanistan,39074280.0,AFG,2021-08,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",1979652.0,773002.0,430744.0,0.0,591825.0,4.97,1.94,1.08,14854.0,AF,6066.0,153220.0,410.0,7118.0
7,Afghanistan,39074280.0,AFG,2021-09,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",2369625.0,828601.0,0.0,0.0,563255.0,5.95,2.08,0.00,14132.0,AF,1832.0,155052.0,86.0,7204.0
8,Afghanistan,39074280.0,AFG,2021-10,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",0.0,0.0,0.0,0.0,1064777.0,0.00,0.00,0.00,26738.0,AF,1036.0,156088.0,68.0,7272.0
9,Afghanistan,39074280.0,AFG,2021-11,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",4018197.0,3530173.0,3188609.0,0.0,821215.0,10.09,8.86,8.00,20618.0,AF,1172.0,157260.0,36.0,7308.0
10,Afghanistan,39074280.0,AFG,2021-12,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",4674518.0,4142857.0,3753224.0,0.0,476498.0,11.73,10.40,9.42,11958.0,AF,799.0,158059.0,48.0,7356.0
11,Afghanistan,39074280.0,AFG,2022-01,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",5125146.0,4554648.0,3892831.0,6868.0,399710.0,12.87,11.43,9.77,10038.0,AF,4081.0,162140.0,53.0,7409.0
12,Afghanistan,39074280.0,AFG,2022-02,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",5535254.0,4907058.0,4231984.0,0.0,406044.0,13.90,12.32,10.62,10195.0,AF,11255.0,173395.0,184.0,7593.0
13,Afghanistan,39074280.0,AFG,2022-03,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",5597130.0,4952744.0,4281934.0,0.0,71731.0,14.05,12.43,10.75,1800.0,AF,3523.0,176918.0,58.0,7651.0
14,Albania,2877239.0,ALB,2021-01,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...",549.0,549.0,0.0,421.0,741.0,0.02,0.02,0.00,257.0,AL,19524.0,77251.0,195.0,1369.0
15,Albania,2877239.0,ALB,2021-02,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...",10135.0,6073.0,655.0,2476.0,9504.0,0.35,0.21,0.02,3305.0,AL,28964.0,106215.0,406.0,1775.0
16,Albania,2877239.0,ALB,2021-03,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...",138846.0,0.0,0.0,49296.0,78590.0,4.83,0.00,0.00,27354.0,AL,18508.0,124723.0,452.0,2227.0
17,Albania,2877239.0,ALB,2021-04,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...",476903.0,0.0,0.0,295509.0,339023.0,16.60,0.00,0.00,118004.0,AL,6254.0,130977.0,162.0,2389.0
18,Albania,2877239.0,ALB,2021-05,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...",776461.0,486128.0,290333.0,204550.0,333048.0,27.03,16.92,10.11,115927.0,AL,1332.0,132309.0,61.0,2450.0
19,Albania,2877239.0,ALB,2021-06,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ...",968034.0,564530.0,403504.0,134454.0,180622.0,33.69,19.65,14.05,62871.0,AL,205.0,132514.0,6.0,2456.0

In [24]:
new_df.tail(20)

,country,Population (2020),iso_code,month_year,vaccines,total_vaccinations,people_vaccinated,people_fully_vaccinated,monthly_vaccinations_raw,monthly_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,monthly_vaccinations_per_million,country_code,new_cases,cumulative_cases,new_deaths,cumulative_deaths
6773,"occupied Palestinian territory, including east...",NaN,NaN,2020-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PS,14225.0,29063.0,85.0,169.0
6774,"occupied Palestinian territory, including east...",NaN,NaN,2020-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PS,21052.0,50115.0,191.0,360.0
6775,"occupied Palestinian territory, including east...",NaN,NaN,2020-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PS,14626.0,64741.0,193.0,553.0
6776,"occupied Palestinian territory, including east...",NaN,NaN,2020-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PS,32047.0,96788.0,254.0,807.0
6777,"occupied Palestinian territory, including east...",NaN,NaN,2020-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PS,57309.0,154097.0,693.0,1500.0
6778,"occupied Palestinian territory, including east...",NaN,NaN,2021-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PS,24419.0,178516.0,510.0,2010.0
6779,"occupied Palestinian territory, including east...",NaN,NaN,2021-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PS,27922.0,206438.0,226.0,2236.0
6780,"occupied Palestinian territory, including east...",NaN,NaN,2021-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PS,62152.0,268590.0,632.0,2868.0
6781,"occupied Palestinian territory, including east...",NaN,NaN,2021-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PS,55852.0,324442.0,631.0,3499.0
6782,"occupied Palestinian territory, including east...",NaN,NaN,2021-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PS,12447.0,336889.0,264.0,3763.0
6783,"occupied Palestinian territory, including east...",NaN,NaN,2021-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PS,5966.0,342855.0,67.0,3830.0
6784,"occupied Palestinian territory, including east...",NaN,NaN,2021-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PS,2723.0,345578.0,41.0,3871.0
6785,"occupied Palestinian territory, including east...",NaN,NaN,2021-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PS,23538.0,369116.0,72.0,3943.0
6786,"occupied Palestinian territory, including east...",NaN,NaN,2021-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PS,63495.0,432611.0,405.0,4348.0
6787,"occupied Palestinian territory, including east...",NaN,NaN,2021-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PS,20936.0,453547.0,328.0,4676.0
6788,"occupied Palestinian territory, including east...",NaN,NaN,2021-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PS,6892.0,460439.0,123.0,4799.0
6789,"occupied Palestinian territory, including east...",NaN,NaN,2021-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PS,9864.0,470303.0,132.0,4931.0
6790,"occupied Palestinian territory, including east...",NaN,NaN,2022-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PS,54413.0,524716.0,167.0,5098.0
6791,"occupied Palestinian territory, including east...",NaN,NaN,2022-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PS,121231.0,645947.0,403.0,5501.0
6792,"occupied Palestinian territory, including east...",NaN,NaN,2022-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PS,8433.0,654380.0,127.0,5628.0

In [25]:
new_df.isnull().sum()

country                                   0
Population (2020)                      3827
iso_code                               3827
month_year                                0
vaccines                               3827
total_vaccinations                     3827
people_vaccinated                      3827
people_fully_vaccinated                3827
monthly_vaccinations_raw               3827
monthly_vaccinations                   3827
total_vaccinations_per_hundred         3827
people_vaccinated_per_hundred          3827
people_fully_vaccinated_per_hundred    3827
monthly_vaccinations_per_million       3827
country_code                            421
new_cases                               421
cumulative_cases                        421
new_deaths                              421
cumulative_deaths                       421
dtype: int64

In [26]:
new_df.to_csv(os.path.join(path, '02_Data', 'Prepared_Data', 'Merge.csv'), index=False)